.CommentForm {
  padding: 0;
}

.CommentForm textarea {
  background-color: #393e46;
  border: 1px solid #4f545c;
  color: #f8f9fa;
  resize: none;
}

.CommentForm textarea:focus {
  background-color: #393e46;
  border-color: #4f545c;
  box-shadow: none;
  color: #f8f9fa;
}

.CommentForm .form-control {
  font-size: 2rem;
  margin: 1rem 0;
  width: 100%;
}

.CommentForm .btn-block {
  background-color: #393e46;
  border: 1px solid #4f545c;
  color: #f8f9fa;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.CommentForm .btn-block:hover {
  background-color: #4f545c;
  border-color: #808080;
}
